table {
      width: 60%;
      border-collapse: collapse;
      border: 1px solid black;
      text-align: center;
      margin: 20px auto;
    }
    thead th {
      background-color: #C0504D;
      color: white;
      padding: 10px;
      text-align: start;
    }
    th{
        text-align: start;
    }
    td{
        text-align: end;
    }
    tbody td, tbody th,thead th {
      border: 1px solid black;
      padding: 8px;
    }
    /* tbody tr, .Waist:nth-child(odd) {
      background-color: #DA9694;
    } */
    .Waist{
        background-color: #DA9694;
        color: white;
    }

    .Chest{
        background-color: #F2DCDB;
        color: black;
    }

    .Sleeve{
        background-color: #D9D9D9;
        color: black;
    }